package config

const (
	// Postgresql database name
	DATABASE_NAME = ""
)

const (
	// Facebook application token
	FACEBOOK_APP_TOKEN = ""

	// Facebook graph API URL
	FACEBOOK_GRAPH_API = "https://graph.facebook.com/v2.4/"

	// How many events take to the past
	FACEBOOK_EVENTS_LIMIT = 20
)