package config

const (
	// PostgreSQL database name
	DATABASE_NAME = ""
)

const (
	// Facebook access token (app_id|app_secret)
	FACEBOOK_APP_TOKEN = ""

	// Facebook graph API URL
	FACEBOOK_GRAPH_API = "https://graph.facebook.com/v2.4/"
)