<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>Události v Brně</title>
	<style>
		body {
			text-align: center;
			padding: 2vh 0;
		}
		h1 {
			color: #3D424F;
			font-size: 5vmin;
		}
		table.events {
			margin: 5vmin auto 0 auto;
			font-size: 3.3vmin;
		}
		table.events td {
			text-align: left;
			padding: 0.5vh 2vw;
		}
		table.events td.date {
			padding-right: 0;
		}
		table.events td.time {
			padding-left: 1em;
		}
		table.events a {
			color: #00B47B;
		}
	</style>
</head>
<body>
	<h1>Události v Brně</h1>

	<table class="events">
	{{range .}}
		<tr>
			<td class="date">{{.Start.HumanDate}}</td>
			<td class="time">{{.Start.Format "15:04"}}</td>
			<td class="name"><a href="{{.Link}}" target="_blank">{{.Name}}</a></td>
			<td class="place">{{.Place.Name}}</td>
		</tr>
	{{end}}
	</table>
</body>
</html>